extends ../layout

block content
  .w3-container.w3-margin-top
    h1 Utilizadores

    // Barra de ações
    .w3-bar.w3-margin-bottom
      a.w3-button.w3-grey(href="/admin") 
        i.fa.fa-arrow-left 
        |  Voltar ao Painel
      a.w3-button.w3-red.w3-right(href="/auth/logout")
        i.fa.fa-sign-out-alt 
        |  Logout
      a.w3-button.w3-green(href="/auth/register")
        i.fa.fa-plus
        |  Novo Utilizador

    // Tabela de utilizadores
    if users && users.length
      .w3-responsive
        table.w3-table-all
          thead
            tr.w3-blue
              th ID
              th Email
              th Papel
              th Ações
          tbody
            each user in users
              tr
                td= user._id
                td= user.email
                td
                  if user.role === 'admin'
                    span.w3-tag.w3-red Admin
                  else if user.role === 'producer'
                    span.w3-tag.w3-blue Produtor
                  else
                    span.w3-tag.w3-light-grey Utilizador
                td
                  a.w3-button.w3-blue.w3-small(href=`/admin/users/${user._id}`)
                    i.fa.fa-eye
                  |  
                  a.w3-button.w3-green.w3-small(href=`/admin/users/${user._id}/edit`)
                    i.fa.fa-edit
                  |  
                  form(style="display: inline;" method="POST" action=`/admin/users/${user._id}/delete`)
                    button.w3-button.w3-red.w3-small(type="submit" onclick="return confirm('Tem certeza que deseja apagar este utilizador?')")
                      i.fa.fa-trash
    else
      .w3-panel.w3-yellow
        p Nenhum utilizador encontrado.
